<web-app>
	<servlet>
		<servlet-name>flightDetail</servlet-name>
		<servlet-class>GetFlightData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flightDetail</servlet-name>
		<url-pattern>/flightDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkUser</servlet-name>
		<servlet-class>VerifyUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkUser</servlet-name>
		<url-pattern>/checkUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getId</servlet-name>
		<servlet-class>GetLastUserIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getId</servlet-name>
		<url-pattern>/getId</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addNewUser</servlet-name>
		<servlet-class>UserDetailsQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addNewUser</servlet-name>
		<url-pattern>/userDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logoutUser</servlet-name>
		<servlet-class>LogoutTheUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutUser</servlet-name>
		<url-pattern>/logoutUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>passengerRecord</servlet-name>
		<servlet-class>BookingTickets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>passengerRecord</servlet-name>
		<url-pattern>/passengerDetails/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkSeatAvailable</servlet-name>
		<servlet-class>checkSeatAvailability</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkSeatAvailable</servlet-name>
		<url-pattern>/checkSeatAvailabilty</url-pattern>
	</servlet-mapping>
</web-app>
